.card {
  border: 1px solid #cac6c6;
  width: 210px;
  border-radius: 40px;
  padding: 20px;
  margin: 20px;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  &:hover {
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
  }
  .favorite {
    position: absolute;
    cursor: pointer;
    border: 1px solid #cac6c6;
    border-radius: 12px;
    opacity: 0.7;
    background-color: rgb(0, 0, 0);
    z-index: 1;
  }
  .add {
    border: 1px solid #cac6c6;
    border-radius: 12px;
    opacity: 0.7;
  }
  .card-img {
    display: flex;
    justify-content: center;
    transform: scale(1);
    transition: transform 0.3 ease-in;
    &:hover {
      transform: scale(1.15);
    }
  }
  p {
    font-weight: 600;
  }
  .card-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    b {
      font-weight: 800;
    }
    img {
      cursor: pointer;
    }
  }
}
